*.pth
*.pyc
egomimic.egg-info/
*.hdf5
*.out.*
egomimic/debug
trained_models_highlevel/
trained_models_lowlevel/
egomimic/scripts/exps
*.ipynb_checkpoints
*.mp4
egomimic/scripts/hand_process/stereo_depth.ipynb
egomimic/scripts/hand_process/triangulation.py
egomimic/scripts/figures
egomimic/**/*.png
egomimic/**/*.jpg
egomimic/**/*.svg
act/detr/detr.egg-info/PKG-INFO
egomimic/v_3_after.png
egomimic/v_3.png
egomimic/scripts/masking/overlays/
debug_ims/*
egomimic/scripts/aloha_process/datasetFig
egomimic/outputs
outputs/
logs/
emimic/
emimic.egg-info/
pyproject.bak
egomimic/algo/pi_checkpoints/*
egomimic/scripts/tsne/*
lerobot_test/
**/lerobot_test/
**/lerobot_test/**
**/robot/models/**
**/robot/models/
external/scale/scripts/datasets
_turbojpeg_lib/
external/scale/scripts/scale_data/
*.zarr
**/*.zarr
.codex
annotations/**
annotations_test/**
log_conversion/**
debug_model_inputs/**
temp_dir/**
.claude/
graphify-out/
CLAUDE.md
tri-cmu-first-batch.json
hydra_configs/data/extra/**
settings.json
failures.jsonl